<% if current_user.role == 2 %>
<% provide(:title, "Add Comment") %>
<!Doctype html>
<html>
    <head><title><%= yield(:title) %></title></head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="text-center">Create Bug</h2>
                    <%= form_with(model: @bug, url: add_comment_bug_path, local:true) do |f| %>
                        <%= render 'shared/bug_error_messages' %>
                        <%= f.label :comment %>
                        <%= f.text_area :comment, class: "form-control mb-2" %>

                        <%= f.submit 'Add Comment', class: "btn btn-primary form-control mt-3" %>
                        <%= link_to "Back", bugs_path , class: "btn btn-secondary form-control mt-3" %>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>
<% else %>
<% controller.redirect_to root_path %>
<% end %>